{
	"useTabs": true,
	"singleQuote": true,
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": { "parser": "astro" }
		},
		{
			"files": ["*.json", "*.md"],
			"options": { "useTabs": false }
		}
	]
}
